**Variable**

In [1]:
'Hallo'

'Hallo'

In [2]:
'halo'

'halo'

In [3]:
x = "Hallo"

In [ ]:
y
y = 5

In [7]:
# Prosedural execution
y = 5
y

5

In [ ]:
# case sensitive
Y

NameError: ignored

**Conditional**

In [9]:
if False:
  print('halo')
  print('baris 1')

In [14]:
print(f'nilai {angka} di atas 10')

nilai 20 di atas 10

In [25]:
angka = 2

if angka > 10:
  print(f'nilai {angka} di atas 10')
elif angka == 10:
  print(f'nilai {angka} sama dengan 10')
elif angka > 5:
  print(f'nilai {angka} di atas 5, di bawah 10')
else:
  print(f'nilai {angka} di bawah 10')

nilai 2 di bawah 10

In [33]:
angka = 20

if angka > 10:
  print(f'nilai {angka} di atas 10')
if angka == 10:
  print(f'nilai {angka} sama dengan 10')
else:
  print(f'nilai {angka} di bawah 10')

nilai 20 di atas 10

In [29]:
angka = 20

else angka > 10:
  print(f'nilai {angka} di atas 10')

SyntaxError: ignored

In [18]:
angka > 10

False

In [ ]:
angka = 10

print(f'nilai {angka} == 10')

nilai 10 == 10

In [ ]:
angka = 5

if angka>20:
  print(f'nilai {angka} diatas 20')
elif angka == 20:
  print(f'nilai {angka} sama dengan 20')
elif angka > 10:
  print(f'nilai {angka} diantara 10 dan 20')
else:
  print(f'nilai {angka} dibawah 20')

nilai 5 dibawah 20

In [ ]:
angka = 30

else:
  print(f'nilai {angka} diatas 20')

SyntaxError: ignored

In [ ]:
angka = 50

if angka > 30:
  print(f'nilai {angka} di atas 30')
elif angka == 30:
  print(f'nilai {angka} sama dengan 30')
else:
  print(f'nilai {angka} di bawah 30')

nilai 50 di atas 30

In [ ]:
angka == 30

False

In [ ]:
print(f'nilai {angka} sama dengan 30')

nilai 25 sama dengan 30

Nilai

- A: [80 - 100]
- B: [70 - 80)
- C: [60 - 70)
- D: [40 - 60)
- E: [0 - 40)

In [ ]:
nilai = -5


if nilai >= 80:
  print(f'Skor {nilai} mendapatkan grade A')
elif nilai >= 70:
  print(f'Skor {nilai} mendapatkan grade B')
elif nilai >= 60:
  print(f'Skor {nilai} mendapatkan grade C')
elif nilai >= 40:
  print(f'Skor {nilai} mendapatkan grade D')
else:
  print(f'Skor {nilai} mendapatkan grade E')

Skor -5 mendapatkan grade E

In [ ]:
nilai = 50

if 0 <= nilai <= 100:
  if nilai >= 80:
    print(f'Skor {nilai} mendapatkan grade A')
  elif nilai >= 70:
    print(f'Skor {nilai} mendapatkan grade B')
  elif nilai >= 60:
    print(f'Skor {nilai} mendapatkan grade C')
  elif nilai >= 40:
    print(f'Skor {nilai} mendapatkan grade D')
  else:
    print(f'Skor {nilai} mendapatkan grade E')
else:
  print(f'Skor {nilai} di luar rentang')

Skor 50 mendapatkan grade D

In [ ]:
cities = ['Pekanbaru', 'Kalimantan Barat', 'Semarang', 'Yogyakarta']

kota = 'Yogyakarta'

if kota in cities:
  print(f'kota {kota} terdapat dalam list cities')

kota Yogyakarta terdapat dalam list cities

In [ ]:
kota in cities

False

In [ ]:
print('kota {} terdapat dalam list {}'.format(kota, cities))

kota Yogyakarta terdapat dalam list ['Pekanbaru', 'Kalimantan Barat', 'Semarang', 'Yogyakarta']

**Looping: While**

In [ ]:
# infinite loop
while True:
  print('Halo')
  print('Apa Kabar?')

In [ ]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [ ]:
i = 1

while i <= 10:
  print(f'5 x {i} = {5 * i}')
  i = i + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
i = 1
j = 1

while i <= 10:
  print(f'perkalian {i}')
  while j <= 10:
    print(f'{i} x {j} = {i * j}')
    j = j + 1
  print('-' * 50)
  i = i + 1
  j = 1

perkalian 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
--------------------------------------------------
perkalian 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
--------------------------------------------------
perkalian 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
--------------------------------------------------
perkalian 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
--------------------------------------------------
perkalian 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
--------------------------------------------------
perkalian 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
--------------------------------------------------
perkalian 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
--------------------------------------------------
perkalian 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
--------------------------------------------------
perkalian 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
--------------------------------------------------
perkalian 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
--------------------------------------------------

In [ ]:
# update variabel

angka = 5
angka

5

In [ ]:
angka = angka + 1

In [ ]:
angka

8

**Looping: For**

In [36]:
cities = ['Pekanbaru', 'Kalimantan Barat', 'Semarang', 'Yogyakarta', 'Bandung', 'Bogor']

cities

['Pekanbaru', 'Kalimantan Barat', 'Semarang', 'Yogyakarta', 'Bandung', 'Bogor']

In [39]:
for hasil_enum, temp_var in enumerate(cities):
  print(hasil_enum)
  print(temp_var)

0
Pekanbaru
1
Kalimantan Barat
2
Semarang
3
Yogyakarta
4
Bandung
5
Bogor

In [ ]:
cities[4]

'Bandung'

In [ ]:
idx = 0

while idx < len(cities):
  print(cities[idx])
  idx += 1                # sama seperti idx = idx + 1
  print('-'*50)

Pekanbaru
--------------------------------------------------
Kalimantan Barat
--------------------------------------------------
Semarang
--------------------------------------------------
Yogyakarta
--------------------------------------------------
Bandung
--------------------------------------------------
Bogor
--------------------------------------------------

In [ ]:
len(cities)

6

In [ ]:
for i in range(1, 11):
  print(f'5 x {i} = {5 * i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for i in range(1, 11):
  for j in range(1, 11):
    print(f'{i} x {j} = {i * j}')
  print('-'* 50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
--------------------------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
--------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
--------------------------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
--------------------------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
--------------------------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
--------------------------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
--------------------------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
--------------------------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
--------------------------------------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
--------------------------------------------------

In [ ]:
i = 1
j = 1

while i <= 10:
  print(f'perkalian {i}')
  while j <= 10:
    print(f'{i} x {j} = {i * j}')
    j = j + 1
  print('-' * 50)
  i = i + 1
  j = 1

In [ ]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Control Flow Statement**

In [ ]:
# continue
i = 0

while i <= 10:
  i = i + 1
  if i in [7, 8, 9]:
    continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# break
i = 0

while i <= 10:
  i = i + 1
  print(i)
  if i == 8:
    print('nilai i sudah 8')
    break

1
2
3
4
5
6
7
8
nilai i sudah 8