In [7]:
def nama_func(nama, domisili):
  print(f'baris 1: {nama}')
  print(f'baris 2: {domisili}')

In [8]:
nama_func(nama='rafif', domisili='jakarta')

baris 1: rafif
baris 2: jakarta

In [9]:
# cara 1 - pemanggilan berurutan, jika tanpa pendefinisian argumen
nama_func('septian', 'bali')

baris 1: septian
baris 2: bali

In [11]:
nama_func('bali', 'septian')

baris 1: bali
baris 2: septian

In [12]:
# cara 2 - mendefinisikan argumen/parameternya, tanpa urutan
nama_func(domisili='bali', nama='septian')

baris 1: septian
baris 2: bali

In [23]:
def func2(nama='rangga', umur, domisili='bandung'):
  print(f'baris 1: {nama}')
  print(f'baris 2: {domisili}')
  print(umur)

SyntaxError: ignored

In [18]:
func2()

baris 1: rangga
baris 2: bandung

In [19]:
func2(domisili='solo')

baris 1: rangga
baris 2: solo

In [20]:
def func2(nama='rangga', domisili):
  print(f'baris 1: {nama}')
  print(f'baris 2: {domisili}')

SyntaxError: ignored

In [21]:
def func2(nama, domisili='bandung'):
  print(f'baris 1: {nama}')
  print(f'baris 2: {domisili}')

In [22]:
func2(nama='aji')

baris 1: aji
baris 2: bandung

In [ ]:
def Hello_Function(name):
  """
  <docstring>
  function ini bertujuan untuk menyapa pembaca
  1. input nama
  2. input pekerjaan
  """
  print('Hallo', name)
  print('How are you?')

In [ ]:
Hello_Function(name = 'Rafif')

Hallo Rafif
How are you?

In [ ]:
def Profil(nama, pekerjaan):
  print('Nama: ', nama)
  print('Pekerjaan: ', pekerjaan)

In [ ]:
# required arguments
Profil('Rafif', 'Instruktur')

Nama:  Rafif
Pekerjaan:  Instruktur

In [ ]:
Profil('Instruktur', 'Rafif')

Nama:  Instruktur
Pekerjaan:  Rafif

In [ ]:
# keyword arguments
Profil(pekerjaan = 'Instruktur', nama = 'Rafif')

Nama:  Rafif
Pekerjaan:  Instruktur

In [ ]:
# default argument
def Profil(nama, pekerjaan = 'Instrukstur'):
  print('Nama: ', nama)
  print('Pekerjaan: ', pekerjaan)

In [ ]:
Profil('Fahmi')

Nama:  Fahmi
Pekerjaan:  Instrukstur

In [ ]:
Profil('Fahmi', 'Student')

Nama:  Fahmi
Pekerjaan:  Student

In [ ]:
# peletakkan default argument di belakang/setelah non-default
def Profil(pekerjaan = 'Instrukstur', nama):
  print('Nama: ', nama)
  print('Pekerjaan: ', pekerjaan)

SyntaxError: ignored

In [ ]:
# Variable-length Argument
# *args
# **kwargs

def contoh(*tup, **dic):
  print('Argument Args: ', tup)
  print('Argument kwargs: ', dic)

In [ ]:
contoh(2,3,4,5,6,7,8, **{'data_1': 20, 'data_2': 70})

Argument Args:  (2, 3, 4, 5, 6, 7, 8)
Argument kwargs:  {'data_1': 20, 'data_2': 70}

In [ ]:
tuples = (1, 2, 3, 4, 5)
dictionary = {'data_1': 20, 'data_2': 70}

contoh(*tuples, **dictionary)

Argument Args:  (1, 2, 3, 4, 5)
Argument kwargs:  {'data_1': 20, 'data_2': 70}

**Global Variable vs Local Variable**

In [ ]:
total = 0                                               # global var
nilai = 90                                              # global var

def tambah(var1, var2):
  # global total
  total = var1 + var2                                   # local var
  print('nilai total di dalam variabel: ', total)
  print('akses global nilai dalam function: ', nilai)
  return total

tambah(2,3)
print(' ')
print('nilai total di luar variabel: ', total)

nilai total di dalam variabel:  5
akses global nilai dalam function:  90

nilai total di luar variabel:  0

**print vs return**

In [35]:
# print

def tambah(var1, var2):
  tambah = var1 + var2
  kali = var1 * var2
  print(tambah)
  print(kali)

In [36]:
tambah(3,7)

10
21

In [27]:
type(hasil)

NoneType

In [26]:
tambah(3, 7) + 2

10

TypeError: ignored

In [41]:
# return

def tambah_return(var1, var2):
  jumlah = var1 + var2
  kali = var1 * var2
  return jumlah, kali

In [43]:
hasil_jumlah, hasil_kali = tambah_return(7, 5)
print(hasil_jumlah)
print(hasil_kali)

12
35

In [31]:
hasil_jumlah = tambah_return(7, 5)
print(hasil_jumlah)
# print(hasil_kali)

12

In [33]:
tambah_return(7, 5) + 2

14

In [34]:
type(tambah_return(7, 5))

int

In [ ]:
test = 14
type(test) == int

True

In [ ]:
def tambah_return():
  var1 = int(input('Please input integer: '))
  var2 = int(input('Please input integer: '))
  if (type(var1) == int):
    if (type(var2) == int):
      jumlah = var1 + var2
      kali = var1 * var2
      print('Hasil Jumlah: ', jumlah)
      print('Hasil Kali: ', kali)
      return jumlah, kali
  else:
    print('Please input integer')

In [ ]:
tambah_return()

Please input integer: 'halo'

ValueError: ignored

**Anonymous Function**

In [44]:
def double(val):
  return val * 2

In [45]:
double(8)

16

In [47]:
kali_2 = lambda val: val * 2

kali_2(5)

10

In [ ]:
def kali_3_bilangan(a1, a2, a3):
  hasil = a1 * a2 * a3
  return hasil

kali_3_bilangan(3, 2, 1)

6

In [ ]:
my_func = lambda angka_1, angka_2, angka_3: angka_1 * angka_2 * angka_3

my_func(angka_1 = 10, angka_2 = 20, angka_3 = 30)

6000

**Practices**

In [ ]:
skor = {'Rafif': 70, 'Fauzi': 80, 'Ali': 75, 'Danang': 55, 'Jonathan': 90, 'Rivaldi': 150}
skor

In [ ]:
# akses keys
skor.keys()

dict_keys(['Rafif', 'Fauzi', 'Ali', 'Danang', 'Jonathan', 'Rivaldi'])

In [ ]:
# akses value
skor.values()

dict_values([70, 80, 75, 55, 90, 150])

In [ ]:
# akses pasangan keys-values
skor.items()

dict_items([('Rafif', 70), ('Fauzi', 80), ('Ali', 75), ('Danang', 55), ('Jonathan', 90), ('Rivaldi', 150)])

In [ ]:
skor['Ali']

75

Nilai

- A: [80 - 100]
- B: [70 - 80)
- C: [60 - 70)
- D: [40 - 60)
- E: [0 - 40)

In [ ]:
skor = {'Rafif': 70, 'Fauzi': 80, 'Ali': 75, 'Danang': 55, 'Jonathan': 90, 'Rivaldi': 150}
skor

{'Ali': 75,
 'Danang': 55,
 'Fauzi': 80,
 'Jonathan': 90,
 'Rafif': 70,
 'Rivaldi': 150}

In [ ]:
def to_grade(**kwargs):  
  grade = {}

  for nama, nilai in kwargs.items():
    if 0 <= nilai <= 100:
      if nilai >= 80:
        grade[nama] = 'A'
      elif nilai >= 70:
        grade[nama] = 'B'
      elif nilai >= 60:
        grade[nama] = 'C'
      elif nilai >= 40:
        grade[nama] = 'D'
      else:
        grade[nama] = 'E'
    else:
      grade[nama] = 'error'
  return grade

In [ ]:
skor_baru = {'Syahrul': 70, 'Rachma': 85, 'Dian': 90}

to_grade(**skor_baru)

{'Dian': 'A', 'Rachma': 'A', 'Syahrul': 'B'}

In [ ]:
grade

{'Ali': 'B',
 'Danang': 'D',
 'Fauzi': 'A',
 'Jonathan': 'A',
 'Rafif': 'B',
 'Rivaldi': 'error'}

In [ ]:
skor.update(skor_baru)

In [ ]:
skor

{'Ali': 75,
 'Danang': 55,
 'Dian': 90,
 'Fauzi': 80,
 'Jonathan': 90,
 'Rachma': 85,
 'Rafif': 70,
 'Rivaldi': 150,
 'Syahrul': 70}

In [ ]:
dic = {'a': 1, 'b': 2, 'c':3}
dic['f'] = 5

dic

{'a': 1, 'b': 2, 'c': 3, 'f': 5}

In [ ]:


if 0 <= nilai <= 100:
  if nilai >= 80:
    print(f'Skor {nilai} mendapatkan grade A')
  elif nilai >= 70:
    print(f'Skor {nilai} mendapatkan grade B')
  elif nilai >= 60:
    print(f'Skor {nilai} mendapatkan grade C')
  elif nilai >= 40:
    print(f'Skor {nilai} mendapatkan grade D')
  else:
    print(f'Skor {nilai} mendapatkan grade E')
else:
  print(f'Skor {nilai} di luar rentang')

Skor 90 mendapatkan grade A