In [1]:
# list
['a', 'b', 'c']

['a', 'b', 'c']

In [10]:
X = ['a', 'b', 'c']

In [13]:
X[1] = 'aaaa'

In [14]:
X

['a', 'aaaa', 'c']

In [15]:
# tuple
y = ('a', 'b', 'c')
y

('a', 'b', 'c')

In [17]:
y[1] = 'aaa'

TypeError: ignored

In [18]:
y

('a', 'b', 'c')

In [33]:
# set - unique value
s = {'a', 'b', 'c', 'a'}
s

{'a', 'b', 'c'}

In [34]:
s[0]

TypeError: ignored

In [24]:
# dictionary - data berpasangan, antara keys & value
dic = {'keys_1': 'value_1', 'keys_2': 'value_2'}
dic

{'keys_1': 'value_1', 'keys_2': 'value_2'}

In [30]:
import pandas as pd
var = {'kolom_1': ['baris 1', 'baris 2'], 'kolom_2': [33, 77]}
var

{'kolom_1': ['baris 1', 'baris 2'], 'kolom_2': [33, 77]}

In [31]:
pd.DataFrame(var)

   kolom_1  kolom_2
0  baris 1       33
1  baris 2       77

In [27]:
dic['keys_2']

'value_2'

In [28]:
dic.items()

dict_items([('keys_1', 'value_1'), ('keys_2', 'value_2')])

In [25]:
dic.keys()

dict_keys(['keys_1', 'keys_2'])

In [26]:
dic.values()

dict_values(['value_1', 'value_2'])

In [40]:
skor = {'Rafif': 70, 'Aldo': 90, 'Ridwan': 85, 'Andi': 88}

- 80-100 = A
- 70-80 = B
- 60-70 = C
- 50-60 = D
- <40 = E

In [35]:
{'Rafif': 'B', 'Aldo': 'A', 'Ridwan': 'A', 'Andi': 'A'}

{'Rafif': 'B', 'Aldo': 'A', 'Ridwan': 'A', 'Andi': 'A'}

In [39]:
liz = [33, 44, 55, 66]

for anggota in liz:
  print(anggota)
  print('-'*10)

33
----------
44
----------
55
----------
66
----------

In [41]:
skor

{'Rafif': 70, 'Aldo': 90, 'Ridwan': 85, 'Andi': 88}

In [ ]:
for nama, nilai in skor.items():
  print(nama)
  print(nilai)
  print('-'*10)

In [59]:
skor['Ridwan'] = 100

In [61]:
skor['Tio'] = 75

In [62]:
skor

{'Rafif': 70, 'Aldo': 90, 'Ridwan': 100, 'Andi': 88, 'Tio': 75}

In [51]:
new = {}
new

{}

In [63]:
skor

{'Rafif': 70, 'Aldo': 90, 'Ridwan': 100, 'Andi': 88, 'Tio': 75}

In [68]:
skor['Aldo']

90

In [70]:
dic_baru = {}

for nama, nilai in skor.items():
  if nilai >= 80:
    dic_baru[nama] = 'A'
  elif nilai >= 70:
    dic_baru[nama] = 'B'
  elif nilai >= 60:
    dic_baru[nama] = 'C'
  elif nilai >= 50:
    dic_baru[nama] = 'D'
  else:
    dic_baru[nama] = 'E'

dic_baru

{'Rafif': 'B', 'Aldo': 'A', 'Ridwan': 'A', 'Andi': 'A', 'Tio': 'B'}

In [72]:
skor['Aldo']

90

In [71]:
dic_baru['Aldo']

'A'

In [74]:
lis = [1,2,3]
lis.append(555)
lis

[1, 2, 3, 555]

In [76]:
a = ()

In [79]:
a + (1,2,3)

(1, 2, 3)

In [75]:
list_baru = []

for nilai in skor.values():
  if nilai >= 80:
    list_baru.append('A')
  elif nilai >= 70:
    list_baru.append('B')
  elif nilai >= 60:
    list_baru.append('C')
  elif nilai >= 50:
    list_baru.append('D')
  else:
    list_baru.append('E')

list_baru

['B', 'A', 'A', 'A', 'B']

In [80]:
def tambah_print(a, b):
  print(a + b)

def tambah_return(x,y):
  return x+y

In [82]:
hasil_print = tambah_print(1, 5)
hasil_print

6

In [84]:
type(hasil_print)

NoneType

In [86]:
hasil_return = tambah_return(5, 5)
hasil_return

10

In [88]:
type(hasil_return)

int